<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active active-first">home</a>
    <a routerLink="/booked" routerLinkActive="active active-first"
      >Booked Appointments</a
    >
    <a routerLink="/medical-history" routerLinkActive="active active-first"
      >Medical History</a
    >
    <a
      *ngIf="isLoggedIn()"
      routerLinkActive="active active-first"
      (click)="Logout()"
      class="logout"
      >Logout</a
    >
    <a
      *ngIf="!isLoggedIn()"
      routerLink="/login-or-register"
      routerLinkActive="active active-first"
      >Login / Register</a
    >
  </div>
</div>
<div id="snackbar" [class.show]="showSnackBar">{{ snackbarMessage }}</div>
