
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="d-flex justify-content-center loading-sign" *ngIf="isLoading">
		<mat-spinner ></mat-spinner>
	</div>
	
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true" checked>

			<div class="signup">
				<form [formGroup]="registerForm">
					<label for="chk" aria-hidden="true">Register</label>
					<input type="text" name="txt" placeholder="User name" formControlName="userName">
					<input type="email" name="email" placeholder="Email" formControlName="email">
					<input type="text" name="firstName" placeholder="First Name" formControlName="firstName">
					<input type="text" name="lastName" placeholder="Last Name" formControlName="lastName">
					<input type="password" name="password" placeholder="Password" required="" formControlName="password">
					<button type="submit" (click)="registerSubmit()">Register</button>
				</form>
			</div>

			<div class="login">
				<form [formGroup]="loginForm">
					<label for="chk" aria-hidden="true" >Login</label>
					<input type="email" name="email" placeholder="Email" required="" formControlName="email">
					<input type="password" name="pswd" placeholder="Password" required="" formControlName = "password">
					<button type="submit" (click)="loginSubmit()">Login</button>
				</form>
			</div>
	</div>
	<div id="snackbar" [class.show] = "showSnackBar">{{snackbarMessage}}</div>